@import '../styles/mixin.scss';

.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  aside {
    width: 210px;
    height: 100%;
    overflow-x: hidden;
    nav {
      height: 100%;
      .menu {
        height: 100%;
      }
    }
  }
  article {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #e5e5e5;
    header {
      margin: 20px;
    }
    section {
      display: flex;
      flex: 1;
      padding: 0px 20px 20px;
    }
  }
}
